@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  font: inherit;
}
input:focus,
label:focus,
select:focus,
button:focus,
textarea:focus {
  outline: 0;
}
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}
input[type=search] {
  -webkit-appearance: textfield;
}
::-webkit-search-decoration {
  display: none;
}
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  overflow: visible;
  width: auto;
}
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}
textarea {
  vertical-align: top;
  overflow: auto;
}
select[multiple] {
  vertical-align: top;
}
@font-face {
  font-family: 'mauvement';
  src: url('fonts/mauvement.eot?-s4b4c6');
  src: url('fonts/mauvement.eot?#iefix-s4b4c6') format('embedded-opentype'), url('fonts/mauvement.ttf?-s4b4c6') format('truetype'), url('fonts/mauvement.woff?-s4b4c6') format('woff'), url('fonts/mauvement.svg?-s4b4c6#mauvement') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'mauvement';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-logo:before {
  content: "\e600";
}
.stretch {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.text-right {
  text-align: right;
}
.text-selection-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.text-selection-normal {
  -webkit-touch-callout: initial;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.vertical-align {
  height: 100%;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vertical-align:before {
  content: '';
  width: 0;
  height: 100%;
  margin-left: -0.25em;
  display: inline-block;
  vertical-align: middle;
}
.vertical-align > .content {
  position: relative;
  white-space: normal;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  -webkit-touch-callout: initial;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}
.relative {
  position: relative;
}
.row {
  position: relative;
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
[class^="column-"],
[class*="column-"] {
  position: relative;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  width: 100%;
}
@media only screen and (min-width: 480px) {
  .column-mobile-12 {
    width: 100%;
  }
  .column-mobile-11 {
    width: 91.66666667%;
  }
  .column-mobile-10 {
    width: 83.33333333%;
  }
  .column-mobile-9 {
    width: 75%;
  }
  .column-mobile-8 {
    width: 66.66666667%;
  }
  .column-mobile-7 {
    width: 58.33333333%;
  }
  .column-mobile-6 {
    width: 50%;
  }
  .column-mobile-5 {
    width: 41.66666667%;
  }
  .column-mobile-4 {
    width: 33.33333333%;
  }
  .column-mobile-3 {
    width: 25%;
  }
  .column-mobile-2 {
    width: 16.66666667%;
  }
  .column-mobile-1 {
    width: 8.33333333%;
  }
  .offset-mobile-12 {
    margin-left: 100%;
  }
  .offset-mobile-11 {
    margin-left: 91.66666667%;
  }
  .offset-mobile-10 {
    margin-left: 83.33333333%;
  }
  .offset-mobile-9 {
    margin-left: 75%;
  }
  .offset-mobile-8 {
    margin-left: 66.66666667%;
  }
  .offset-mobile-7 {
    margin-left: 58.33333333%;
  }
  .offset-mobile-6 {
    margin-left: 50%;
  }
  .offset-mobile-5 {
    margin-left: 41.66666667%;
  }
  .offset-mobile-4 {
    margin-left: 33.33333333%;
  }
  .offset-mobile-3 {
    margin-left: 25%;
  }
  .offset-mobile-2 {
    margin-left: 16.66666667%;
  }
  .offset-mobile-1 {
    margin-left: 8.33333333%;
  }
  .hidden-mobile {
    display: none;
    visibility: hidden;
  }
}
@media only screen and (min-width: 720px) {
  .column-tablet-12 {
    width: 100%;
  }
  .column-tablet-11 {
    width: 91.66666667%;
  }
  .column-tablet-10 {
    width: 83.33333333%;
  }
  .column-tablet-9 {
    width: 75%;
  }
  .column-tablet-8 {
    width: 66.66666667%;
  }
  .column-tablet-7 {
    width: 58.33333333%;
  }
  .column-tablet-6 {
    width: 50%;
  }
  .column-tablet-5 {
    width: 41.66666667%;
  }
  .column-tablet-4 {
    width: 33.33333333%;
  }
  .column-tablet-3 {
    width: 25%;
  }
  .column-tablet-2 {
    width: 16.66666667%;
  }
  .column-tablet-1 {
    width: 8.33333333%;
  }
  .offset-tablet-12 {
    margin-left: 100%;
  }
  .offset-tablet-11 {
    margin-left: 91.66666667%;
  }
  .offset-tablet-10 {
    margin-left: 83.33333333%;
  }
  .offset-tablet-9 {
    margin-left: 75%;
  }
  .offset-tablet-8 {
    margin-left: 66.66666667%;
  }
  .offset-tablet-7 {
    margin-left: 58.33333333%;
  }
  .offset-tablet-6 {
    margin-left: 50%;
  }
  .offset-tablet-5 {
    margin-left: 41.66666667%;
  }
  .offset-tablet-4 {
    margin-left: 33.33333333%;
  }
  .offset-tablet-3 {
    margin-left: 25%;
  }
  .offset-tablet-2 {
    margin-left: 16.66666667%;
  }
  .offset-tablet-1 {
    margin-left: 8.33333333%;
  }
  .hidden-tablet {
    display: none;
    visibility: hidden;
  }
}
@media only screen and (min-width: 960px) {
  .column-desktop-12 {
    width: 100%;
  }
  .column-desktop-11 {
    width: 91.66666667%;
  }
  .column-desktop-10 {
    width: 83.33333333%;
  }
  .column-desktop-9 {
    width: 75%;
  }
  .column-desktop-8 {
    width: 66.66666667%;
  }
  .column-desktop-7 {
    width: 58.33333333%;
  }
  .column-desktop-6 {
    width: 50%;
  }
  .column-desktop-5 {
    width: 41.66666667%;
  }
  .column-desktop-4 {
    width: 33.33333333%;
  }
  .column-desktop-3 {
    width: 25%;
  }
  .column-desktop-2 {
    width: 16.66666667%;
  }
  .column-desktop-1 {
    width: 8.33333333%;
  }
  .offset-desktop-12 {
    margin-left: 100%;
  }
  .offset-desktop-11 {
    margin-left: 91.66666667%;
  }
  .offset-desktop-10 {
    margin-left: 83.33333333%;
  }
  .offset-desktop-9 {
    margin-left: 75%;
  }
  .offset-desktop-8 {
    margin-left: 66.66666667%;
  }
  .offset-desktop-7 {
    margin-left: 58.33333333%;
  }
  .offset-desktop-6 {
    margin-left: 50%;
  }
  .offset-desktop-5 {
    margin-left: 41.66666667%;
  }
  .offset-desktop-4 {
    margin-left: 33.33333333%;
  }
  .offset-desktop-3 {
    margin-left: 25%;
  }
  .offset-desktop-2 {
    margin-left: 16.66666667%;
  }
  .offset-desktop-1 {
    margin-left: 8.33333333%;
  }
  .hidden-desktop {
    display: none;
    visibility: hidden;
  }
}
.loader-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  visibility: hidden;
  -moz-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
  -webkit-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
}
.loader-container.visible {
  opacity: 1;
  visibility: visible;
}
.loader-container.max {
  max-height: 400px;
}
.loader-container .loader {
  opacity: 1;
  visibility: visible;
}
.loader {
  position: relative;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  -moz-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
  -webkit-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
}
.loader.visible {
  opacity: 1;
  visibility: visible;
}
.loader.loader-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -moz-animation: loader-circle 3s ease-in-out both infinite;
  -o-animation: loader-circle 3s ease-in-out both infinite;
  -webkit-animation: loader-circle 3s ease-in-out both infinite;
  animation: loader-circle 3s ease-in-out both infinite;
}
.loader.loader-circle.loader-circle-multiple:before,
.loader.loader-circle.loader-circle-multiple:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -moz-animation: loader-circle 3s ease-in-out both infinite;
  -o-animation: loader-circle 3s ease-in-out both infinite;
  -webkit-animation: loader-circle 3s ease-in-out both infinite;
  animation: loader-circle 3s ease-in-out both infinite;
}
.loader.loader-circle.loader-circle-multiple:before {
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.loader.loader-circle.loader-circle-multiple:after {
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.loader.loader-rectangle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
}
.loader.loader-rectangle:before,
.loader.loader-rectangle:after {
  content: '';
  position: absolute;
  border: 1px solid transparent;
}
.loader.loader-rectangle:before {
  top: 0;
  left: 0;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  -webkit-animation: loader-rectangle-tl 4s ease-in-out infinite;
  -moz-animation: loader-rectangle-tl 4s ease-in-out infinite;
  -o-animation: loader-rectangle-tl 4s ease-in-out infinite;
  animation: loader-rectangle-tl 4s ease-in-out infinite;
}
.loader.loader-rectangle:after {
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  -moz-animation: loader-rectangle-br 4s ease-in-out infinite 1s;
  -o-animation: loader-rectangle-br 4s ease-in-out infinite 1s;
  -webkit-animation: loader-rectangle-br 4s ease-in-out infinite 1s;
  animation: loader-rectangle-br 4s ease-in-out infinite 1s;
}
@keyframes loader-rectangle-tl {
  0% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
  }
  12.5% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0;
  }
  25% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  75% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  87.5% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
  }
  100% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
  }
}
@-moz-keyframes loader-rectangle-tl {
  0% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
  }
  12.5% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0;
  }
  25% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  75% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  87.5% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
  }
  100% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
  }
}
@-webkit-keyframes loader-rectangle-tl {
  0% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
  }
  12.5% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0;
  }
  25% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  75% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  87.5% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
  }
  100% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
  }
}
@keyframes loader-rectangle-br {
  0% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
  }
  12.5% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0;
  }
  25% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  75% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  87.5% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
  }
  100% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
  }
}
@-moz-keyframes loader-rectangle-br {
  0% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
  }
  12.5% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0;
  }
  25% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  75% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  87.5% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
  }
  100% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
  }
}
@-webkit-keyframes loader-rectangle-br {
  0% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
  }
  12.5% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0;
  }
  25% {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  75% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  87.5% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
  }
  100% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
  }
}
@-moz-keyframes loader-circle {
  0% {
    -moz-transform: translate(-50%, -50%) scale(0.5);
    -ms-transform: translate(-50%, -50%) scale(0.5);
    -o-transform: translate(-50%, -50%) scale(0.5);
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    background: rgba(0, 0, 0, 0.8);
  }
  50% {
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    background: rgba(0, 0, 0, 0.1);
  }
  100% {
    -moz-transform: translate(-50%, -50%) scale(0.5);
    -ms-transform: translate(-50%, -50%) scale(0.5);
    -o-transform: translate(-50%, -50%) scale(0.5);
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    background: rgba(0, 0, 0, 0.8);
  }
}
@-webkit-keyframes loader-circle {
  0% {
    -moz-transform: translate(-50%, -50%) scale(0.5);
    -ms-transform: translate(-50%, -50%) scale(0.5);
    -o-transform: translate(-50%, -50%) scale(0.5);
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    background: #000;
  }
  50% {
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    background: rgba(0, 0, 0, 0.1);
  }
  100% {
    -moz-transform: translate(-50%, -50%) scale(0.5);
    -ms-transform: translate(-50%, -50%) scale(0.5);
    -o-transform: translate(-50%, -50%) scale(0.5);
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    background: #000;
  }
}
@keyframes loader-circle {
  0% {
    -moz-transform: translate(-50%, -50%) scale(0.5);
    -ms-transform: translate(-50%, -50%) scale(0.5);
    -o-transform: translate(-50%, -50%) scale(0.5);
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    background: #000;
  }
  50% {
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    background: rgba(0, 0, 0, 0.1);
  }
  100% {
    -moz-transform: translate(-50%, -50%) scale(0.5);
    -ms-transform: translate(-50%, -50%) scale(0.5);
    -o-transform: translate(-50%, -50%) scale(0.5);
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    background: #000;
  }
}
/*#region global */
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
}
body.no-scroll {
  overflow-y: hidden;
}
*,
:after,
:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input {
  font: inherit;
  line-height: inherit;
}
a {
  text-decoration: none;
}
#application-host,
#shell,
#container,
#content {
  /*height: 100%;*/
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#header:not(.transparent) {
  background: #ffffff;
}
#header .content {
  position: relative;
  line-height: 60px;
  min-height: 60px;
}
#header .logo {
  position: absolute;
  left: 50%;
  font-size: 1.8em;
  line-height: 60px;
  color: #000;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}
#header.invert .logo {
  color: #fff;
}
#header.invert .menu .menu-button > .lines,
#header.invert .menu .menu-button > .lines:before,
#header.invert .menu .menu-button > .lines:after {
  background: #fff;
}
#header .menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
#header .menu .menu-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: none;
  background: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  text-align: center;
  outline: none;
}
#header .menu .menu-button > .lines {
  display: inline-block;
  width: 13.33333333px;
  height: 2px;
  background: #333333;
  -moz-transition: top 0.3s ease-in-out, width 0.3s ease-in-out, transform 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out, width 0.3s ease-in-out, transform 0.3s ease-in-out;
  -webkit-transition: top 0.3s ease-in-out, width 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, width 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
  vertical-align: middle;
  z-index: -1;
}
#header .menu .menu-button > .lines:before,
#header .menu .menu-button > .lines:after {
  display: inline-block;
  width: 13.33333333px;
  height: 2px;
  background: #333333;
  -moz-transition: top 0.3s ease-in-out, width 0.3s ease-in-out, transform 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out, width 0.3s ease-in-out, transform 0.3s ease-in-out;
  -webkit-transition: top 0.3s ease-in-out, width 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, width 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: absolute;
  left: 0;
  content: '';
  -moz-transform-origin: 7px center;
  -ms-transform-origin: 7px center;
  -o-transform-origin: 7px center;
  -webkit-transform-origin: 7px center;
  transform-origin: 7px center;
  background: inherit;
}
#header .menu .menu-button > .lines:before {
  top: 4px;
}
#header .menu .menu-button > .lines:after {
  top: -4px;
}
#header .menu .menu-button.open .lines {
  background: transparent;
}
#header .menu .menu-button.open .lines:before,
#header .menu .menu-button.open .lines:after {
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 13.33333333px;
}
#header .menu .menu-button.open .lines:before {
  -moz-transform: rotate3d(0, 0, 1, 45deg);
  -ms-transform: rotate3d(0, 0, 1, 45deg);
  -o-transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
#header .menu .menu-button.open .lines:after {
  -moz-transform: rotate3d(0, 0, 1, -45deg);
  -ms-transform: rotate3d(0, 0, 1, -45deg);
  -o-transform: rotate3d(0, 0, 1, -45deg);
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
#header .navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 60px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: -1;
  opacity: 1;
  -moz-transition: background 0.35s ease-in-out, opacity 0.35s ease-in-out, left 0s linear 0s;
  -o-transition: background 0.35s ease-in-out, opacity 0.35s ease-in-out, left 0s linear 0s;
  -webkit-transition: background 0.35s ease-in-out, opacity 0.35s ease-in-out, left 0s linear 0s;
  transition: background 0.35s ease-in-out, opacity 0.35s ease-in-out, left 0s linear 0s;
  height: 100%;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#header .navigation:before {
  content: '';
  width: 0;
  height: 100%;
  margin-left: -0.25em;
  display: inline-block;
  vertical-align: middle;
}
#header .navigation > .content {
  position: relative;
  white-space: normal;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  -webkit-touch-callout: initial;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
#header .navigation .navigation-items {
  position: relative;
  white-space: normal;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  -webkit-touch-callout: initial;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
#header .navigation:not(.open) {
  left: 100%;
  background: transparent;
  color: #333333;
  opacity: 0;
  -moz-transition: background 0.35s ease-in-out, opacity 0.35s ease-in-out, left 0s linear 0.35s;
  -o-transition: background 0.35s ease-in-out, opacity 0.35s ease-in-out, left 0s linear 0.35s;
  -webkit-transition: background 0.35s ease-in-out, opacity 0.35s ease-in-out, left 0s linear 0.35s;
  transition: background 0.35s ease-in-out, opacity 0.35s ease-in-out, left 0s linear 0.35s;
}
#header .navigation .navigation-item {
  text-align: center;
  color: inherit;
}
#header .navigation .navigation-item .navigation-link {
  color: inherit;
  text-transform: uppercase;
  font-size: 0.9375em;
  font-weight: 700;
  -moz-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}
#header ~ #container {
  padding-top: 60px;
}
@media only screen and (min-width: 720px) {
  #header.invert .logo {
    color: #000;
  }
  #header .content {
    min-height: 80px;
    zoom: 1;
  }
  #header .content:before,
  #header .content:after {
    content: "";
    display: table;
  }
  #header .content:after {
    clear: both;
  }
  #header .logo {
    left: 10px;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
    line-height: 80px;
  }
  #header .menu {
    display: none;
  }
  #header .navigation {
    position: static;
    padding-top: 0;
    zoom: 1;
    float: right;
    background: transparent;
    color: #333333;
  }
  #header .navigation:before,
  #header .navigation:after {
    content: "";
    display: table;
  }
  #header .navigation:after {
    clear: both;
  }
  #header .navigation:not(.open) {
    left: auto;
    opacity: 1;
  }
  #header .navigation .navigation-item {
    float: left;
    line-height: 80px;
  }
  #header .navigation .navigation-item:not(:first-child) {
    margin-left: 40px;
  }
  #header ~ #container {
    padding-top: 80px;
  }
}
#home {
  padding-top: 50px;
  padding-bottom: 100px;
}
#home .categories {
  text-align: center;
  cursor: default;
  margin-bottom: 20px;
}
#home .categories .category-item {
  position: relative;
  display: inline-block;
  color: #333;
  text-transform: uppercase;
  font-size: 0.9375em;
  font-weight: 700;
  padding: 5px 10px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#home .categories .category-item:not(.active) {
  cursor: pointer;
}
#home .categories .category-item:not(.active):hover {
  color: #666666;
}
#home .categories .category-item.active {
  box-shadow: 0 0 0 1px #333;
}
#home .categories:not(.expanded) .category-item:nth-child(7) ~ .category-item:not(#category-more) {
  display: none;
}
#home .categories.expanded .category-item#category-more {
  display: none;
}
#home .post-container {
  position: relative;
  min-height: 200px;
  margin-left: -10px;
  margin-right: -10px;
}
#home .post-container.ready .loader-container.visible {
  position: relative;
  margin-top: 10px;
  height: 27px;
}
#home .post-container .post-message {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 0.9375em;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#home .post-container .post-message .all-the-categories {
  color: #999;
}
@media only screen and (min-width: 720px) {
  #home .post-container {
    min-height: 400px;
  }
}
#home .posts {
  zoom: 1;
}
#home .posts:before,
#home .posts:after {
  content: "";
  display: table;
}
#home .posts:after {
  clear: both;
}
#home .posts .post-item {
  padding: 0 10px 20px;
}
#home .posts .post-item .post-item-link {
  display: block;
  opacity: 0;
  visibility: hidden;
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -moz-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out, transform 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out, transform 0.35s ease-in-out;
  -webkit-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out, transform 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out, transform 0.35s ease-in-out;
}
#home .posts .post-item.visible .post-item-link {
  opacity: 1;
  visibility: visible;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
#home .posts .post-item.draft .post-item-image:after {
  content: 'Draft';
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  z-index: 1;
  text-transform: uppercase;
  font-size: 0.9375em;
  font-weight: 700;
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
#home .posts .post-item:not(.visible) {
  width: 0;
  height: 0;
  padding: 0;
}
#home .posts .post-item .post-item-image,
#home .posts .post-item .post-item-title {
  display: block;
}
#home .posts .post-item .post-item-image {
  position: relative;
  padding-bottom: 125%;
}
#home .posts .post-item .post-item-image .post-item-image-background {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-size: cover;
  background-position: center;
  opacity: 0;
  visibility: hidden;
  -moz-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
  -webkit-transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out;
}
#home .posts .post-item .post-item-image .post-item-image-background.image-ready,
#home .posts .post-item .post-item-image .post-item-image-background.image-missing {
  opacity: 1;
  visibility: visible;
}
#home .posts .post-item .post-item-image .post-item-image-background.image-missing {
  background-color: #f4eee2;
}
#home .posts .post-item .post-item-image:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.02);
  z-index: 1;
}
@media only screen and (max-width: 720px) {
  #home .posts .post-item .post-item-image {
    padding-bottom: 100%;
  }
}
#home .posts .post-item .post-item-title {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  width: 100%;
  height: 39.2px;
  /* Fallback for non-webkit */
  margin: 15px auto 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #333;
}
#post {
  min-height: 300px;
  padding-bottom: 25px;
}
#post .post-pre-header {
  margin-top: 10px;
}
#post .post-header {
  padding: 5px 0;
  text-align: center;
}
#post .post-header .post-image {
  opacity: 0;
  width: 0 !important;
  height: 0 !important;
}
#post .post-header .post-title {
  font-weight: 700;
}
#post .post-header .post-information {
  color: #999;
  font-size: 0.9em;
}
#post .post-header .post-author:not(:empty):before {
  content: ' - ';
}
#post .post-social {
  text-align: center;
  margin-bottom: 20px;
}
#post .post-social .post-social-share {
  display: block;
}
#post .post-social .post-social-share .button {
  margin-bottom: 5px;
}
#post .post-social .post-social-share .button:not(.social-share) {
  display: none;
}
#post .post-social .post-social-share .button:not(:first-child) {
  margin-left: 5px;
}
#post .post-social .post-social-share.expanded .button:not(.social-share) {
  display: inline-block;
}
#post .post-social .post-social-share.expanded .button.social-share {
  background: #333;
  color: #fff;
}
#post .post-content {
  /* Text meant only for screen readers. */
}
#post .post-content strong {
  font-weight: 600;
}
#post .post-content em {
  font-style: italic;
}
#post .post-content a {
  color: inherit;
  text-decoration: underline;
}
#post .post-content blockquote {
  border-left: 3px solid red;
  opacity: 0.8;
  font-style: italic;
}
#post .post-content del {
  opacity: 0.8;
  text-decoration: line-through;
}
#post .post-content ins {
  background: #fff9c0;
}
#post .post-content ul,
#post .post-content ol {
  margin-left: 28px;
}
#post .post-content ul {
  list-style-type: disc;
}
#post .post-content ol {
  list-style-type: decimal;
}
#post .post-content code {
  font-family: Inconsolata, monospace;
}
#post .post-content p {
  margin-bottom: 28px;
}
#post .post-content h1,
#post .post-content h2,
#post .post-content h3,
#post .post-content h4,
#post .post-content h5,
#post .post-content h6 {
  font-weight: 600;
  margin: 56px 0 28px;
}
#post .post-content h1 {
  font-size: 35px;
  font-size: 2em;
  line-height: 1.2308;
}
#post .post-content h2 {
  font-size: 29px;
  font-size: 1.85em;
  line-height: 1.2069;
}
#post .post-content h3 {
  font-size: 24px;
  font-size: 1.6em;
  line-height: 1.1667;
}
#post .post-content h4 {
  font-size: 20px;
  font-size: 1.45em;
  line-height: 1.4;
}
#post .post-content h5,
#post .post-content h6 {
  font-size: 1.3em;
  letter-spacing: 0.1em;
  line-height: 1.2353;
  text-transform: uppercase;
}
#post .post-content pre {
  background-color: #fcfcfc;
  border: 1px solid #eaeaea;
  line-height: 1.2353;
  margin-bottom: 28px;
  max-width: 100%;
  overflow: auto;
  padding: 14px;
  white-space: pre;
  white-space: pre-wrap;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
#post .post-content .alignnone {
  margin: 5px 0 20px;
}
#post .post-content .aligncenter,
#post .post-content div.aligncenter {
  display: block;
  margin: 5px auto;
}
#post .post-content .alignright {
  float: right;
  margin: 5px 0 20px;
}
#post .post-content .alignleft {
  float: left;
  margin: 5px 0 20px;
}
#post .post-content a img.alignright {
  float: right;
  margin: 5px 0 20px;
}
#post .post-content a img.alignnone {
  margin: 5px 0 20px;
}
#post .post-content a img.alignleft {
  float: left;
  margin: 5px 0 20px;
}
#post .post-content a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#post .post-content img {
  max-width: 100%;
  height: auto;
}
#post .post-content img,
#post .post-content .wp-caption {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}
#post .post-content .wp-caption.alignnone {
  margin: 5px 0 20px;
}
#post .post-content .wp-caption.alignleft {
  margin: 5px 0 20px;
}
#post .post-content .wp-caption.alignright {
  margin: 5px 0 20px;
}
#post .post-content .wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  padding: 0;
  width: auto;
}
#post .post-content .wp-caption .wp-caption-text {
  font-size: 0.8em;
  margin: 0;
  padding: 0 0 5px;
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
}
#post .post-content .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
#post .post-content .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
#post .post-footer .post-footer-content {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  zoom: 1;
}
#post .post-footer .post-footer-content:before,
#post .post-footer .post-footer-content:after {
  content: "";
  display: table;
}
#post .post-footer .post-footer-content:after {
  clear: both;
}
#post .post-footer .post-link {
  position: relative;
  display: block;
  padding-top: 5px;
  padding-bottom: 6px;
  margin-bottom: 10px;
  min-height: 30px;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  zoom: 1;
}
#post .post-footer .post-link:before,
#post .post-footer .post-link:after {
  content: "";
  display: table;
}
#post .post-footer .post-link:after {
  clear: both;
}
#post .post-footer .post-link .button {
  position: absolute;
  top: 0;
}
#post .post-footer .post-link.post-link-previous {
  padding-left: 95px;
}
#post .post-footer .post-link.post-link-previous .button {
  left: 0;
  margin-right: 5px;
}
#post .post-footer .post-link.post-link-next {
  padding-right: 65px;
  text-align: right;
}
#post .post-footer .post-link.post-link-next .button {
  right: 0;
  margin-left: 5px;
}
@media only screen and (min-width: 720px) {
  #post {
    min-height: 450px;
  }
  #post .post-header {
    padding: 20px 0 30px;
  }
  #post .post-header .post-title {
    font-size: 1.25em;
  }
  #post .post-social {
    text-align: right;
    margin-bottom: 30px;
  }
  #post .post-footer .post-link:only-child {
    width: 100%;
  }
  #post .post-footer .post-link.post-link-previous {
    padding-right: 10px;
  }
  #post .post-footer .post-link.post-link-next {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 960px) {
  #post {
    min-height: 600px;
    padding-bottom: 50px;
  }
  #post .post-header .post-title {
    font-size: 2em;
  }
  #post .post-content {
    font-size: 1.25em;
  }
}
.button {
  display: inline-block;
  color: #333;
  text-transform: uppercase;
  font-size: 0.9375em;
  font-weight: 700;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button:not(.disabled):not([disabled]) {
  cursor: pointer;
}
.button.invert {
  background: #333;
  color: #fff;
}
.fit {
  position: relative;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
#about {
  padding-top: 50px;
}
#about .section {
  margin-bottom: 20px;
}
#about .title {
  text-transform: uppercase;
  font-size: 0.9375em;
  font-weight: 700;
  margin-bottom: 15px;
}
#about .disclaimer {
  color: #999;
  padding: 10px;
  border: 1px solid #000;
}
#about .disclaimer .title {
  margin-bottom: 5px;
}
#about .disclaimer .content {
  font-size: 0.85em;
}
#about .disclaimer .content a {
  color: inherit;
  text-decoration: underline;
}
.text-bordered {
  padding: 10px;
  border: 1px solid #000;
}
.text-highlight {
  text-transform: uppercase;
  font-size: 0.9375em;
  font-weight: 700;
}
