<div id="about">
    <div class="fit">
        <div class="section">
            <div class="title">Hey and welcome on my blog!</div>
            <div class="content">
                Fashion, interior, cooking and lifestyle blog running by a 21 year old fashion design student living in Romania for
                everyone who's looking for a dash of stunning inspiration. I am obsessed with plants, healthy cooking, modern art and new ideas. I am a
                sushi enthusiast and I'm really into thriftshopping and exploring flea markets, vintage items always give me a thrill.
            </div>
        </div>
        <div class="section disclaimer">
            <div class="title">Disclaimer</div>
            <div class="content">
                All images and information posted on this blog are copyrighted to their respective owners. I do not own any of the images
                posted unless otherwise stated. If you see your work on my site without proper credit or you would like it removed, please
                <a href="javascript: void(0);" data-bind="attr: { href: routeManager.distinct.contact.hash }">contact me</a>.
            </div>
        </div>
    </div>
</div>